__pycache__
env/
.env
terraform/foundation/environments/common.tfvars
terraform/service/environments/common.tfvars
*txt
InterviewPreparation.md
notes.md
*.json
*.log
terraform/service  
.terraform.lock.hcl



