* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Marat Sans";
}
.editor-container {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Marat Sans";
}

.title-section input {
  width: 50.5vw;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  
  /* background-color: transparent; */
  background: #f9f9f9;
}

.title-section input::placeholder {
  font-family: "Marat Sans";
  color: #888;
}

.SummaryEdit{
  width: 50vw;
  /* height: 20vw; */
}
.editable{
  width: 50vw;
  height: 20vw;
}
.editable, .SummaryEdit,.image-search-container{

  padding: 14px 16px;
  margin: 7px 0;
  font-size: 18px;
  color: black;
  /* background: transparent; */
  border: #f9f9f9;
  background: #f9f9f9;
  outline: none;
  align-items: center;
  border-radius: 5px;
}
.search-container{
  justify-content: space-evenly;
  gap: 50px;
}
/* .search-container input[type="text"]{} */

.image-search-container {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  /* margin: 7px 0; */
}

.image-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.image-results img {
  width: 600px;
  height: 300px;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: transform 0.2s;
}

.image-results img:hover {
  transform: scale(1.05);
}

.editor-toolbar {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}

.toolbar-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
}

.nav-right .submit-btn {
  padding: 6px 13px;
  border-radius: 20px;
  color: #fff;
  background: #1a8917;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #186c14;
}
